@import "../css/reset.css";
@import "../css/_variables";

html{
  width:100%;
  height: 100%;
}

body{
  width: 100%;
  min-height: 100%;
}

.my-header {
  background-image: url("../img/big-screen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1rem;
  padding-bottom: 20rem;

  .navbar {
    margin-bottom: 298px;
  }
  .navbar-toggler {
    top: 1.5rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    border: none;
  }

  @media (max-width: 575px) {
    .navbar-toggler {
      margin-top: 5px;
      padding-left: 25px;
    }
    .navbar-brand {
      pointer-events: none;
    }
  }

  .nav-link {
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .header-title {
    color:  #fefefb;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .header-text {
    margin: 0 auto;
    color:  #fefdfd;
    font-size: 30px;
    font-style: italic;
  }
}

.card-about-bg {
  background-image: url("../img/about-us-bg.jpg");
  background-size: cover;
}

.about {
  margin-top: 124px;
}
.about-banner {
  max-width: 380px;
  height: 555px;
  background: url("../img/about-us-bg.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 75px;

  &__title {
    color: white;
    text-transform: uppercase;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 992px) {
  .about-banner {
    margin: 0 auto;
  }
}

.about-descriptions {
  padding-top: 78px;
  padding-bottom: 133px;
  position: relative;
}

 .about-descriptions__btn {
   width: 195px;
   height: 50px;
   color: #818a91;
   background-color: transparent;
   border-left: 2px solid #818a91;
   border-bottom: 2px solid #818a91;
   border-right: 1px solid #818a91;
   border-top: 1px solid #818a91;
   position: absolute;
   left: 50%;
   bottom: 0;
   margin-left: -97px;

 }

 .service-block {
   text-align: center;
 }
 .service-card {
   width: 100%;
   height: 400px;
   padding-top: 99px;

   &__title {
     text-transform: uppercase;
     font-size: 24px;
     margin: 25px 0 14px;
   }

   &__text {
     max-width: 193px;
     font-style: italic;
     margin: 0 auto;
     font-weight: 400;
   }
 }

 .service-banner {
   max-width: 100%;
   height: 800px;
   background: url("../img/our-services-bg.jpg");
   background-size: cover;
   font-size: 18px;
   padding-top: 116px;
   text-align: center;
 }

 .section-carousel {
   background-image: url("../img/works-bg.jpg");
   background-size: cover;
   height: 100%;
   position: relative;
   padding-top: 40px;
   padding-bottom: 50px;
 }
 .section-carousel-title {
   text-transform: uppercase;
   margin: 24px 0;
   line-height: 60px;
 }
 .section-carousel-btn {
   margin-top: 105px;
 }

 .contact-header {

   &__title {
     margin-top: 25px;
   }
 }

 .contact-submit {
   margin-top: 55px;
   width: 293px;
   height: 70px;
   border-radius: 4px;
   background-color: #9f9acf;
   color: white;
   outline: none;
   border: none;
 }


.my-contact-container {
  position: absolute;
  right: 0;
  top: 219px;
  overflow: hidden;
  z-index: 1;
}

.box-contact {
  position: relative;
  right: -258px;
  width: 350px;
  font-size: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  &:hover {
    right: -2px;
  }
  &:before {
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  &__icon {
    width: 91px;
    height: 91px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    &--address {
      background: url('../img/icon-address.png') 50% no-repeat;
      background-color: #9f9acf;
    }
    &--phone {
      background: url('../img/layer-8.png') 50% no-repeat;
      background-color: #9f9acf;
    }
  }
  &__content {
    width: 257px;
    height: 91px;
    vertical-align: middle;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    padding: 15px 35px 15px 40px;
    font-size: 18px;
    color: #665f60;
    background-color: rgba(235, 235, 235, 0.8);
    &:before {
      height: 100%;
      content: '';
      vertical-align: middle;
      display: inline-block;
    }
  }
  &__title {
    vertical-align: middle;
    width: 97%;
    display: inline-block;
  }
}

.box-scroll {
  background-color:  rgba(159, 154, 207, 0.5);
  width: 84px;
  height: 84px;
  text-align: center;
  padding-top: 27px;
  position: absolute;
  bottom: 46px;
  right: 128px;
}











